.form {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form__item {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__text {
  font-family: 'Ubutu', sans-serif;
  font-size: 17px;
}

.form__input {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border-color: cadetblue;
  border-style: solid;
}

.form__submitBtn {
  margin-top: 15px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(141, 191, 193);
  border-style: none;
  font-size: 15px;
  font-weight: 500;
}

.form__submitBtn:hover {
  background-color: #4479ca;
}
